@import 'tailwindcss';

body {
  font-family: 'Nunito Variable', sans-serif;
}

footer {
  margin-top: 2rem;
  font-size: 0.75rem;
  text-align: center;
  color: #0369a1; /* Tailwind's sky-700 */
}

footer a {
  color: inherit;
  text-decoration: underline;
  font-weight: 500;
}

footer a:hover {
  text-decoration: none;
}

@keyframes pop-fade {
  0% {
    transform: translateY(10px) scale(0.95);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.animate-pop-fade {
  animation: pop-fade 0.4s ease-out both;
}
