---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '@/components/Footer.astro';
import WeatherApp from '../components/WeatherApp.vue';
---

<Layout title='Weather App'>
  <main class='max-w-md mx-auto space-y-6 text-center'>
    <Header />
    <WeatherApp client:load />
  </main>
  <Footer />
</Layout>
