---
import Layout from '../layouts/Layout.astro';
import WeatherSearch from '../components/WeatherSearch.vue';
import WeatherCard from '../components/WeatherCard.vue';
import WeatherApp from '../components/WeatherApp.vue';
---

<Layout title='Weather App'>
  <main class='max-w-md mx-auto space-y-6 text-center'>
    <!--    <header>
      <h1 class='text-4xl font-bold mb-2'>🌤️ Weather App</h1>
      <p class='text-sm text-sky-700'>Check the weather in any city</p>
    </header> -->

    <main class='max-w-md mx-auto space-y-6 text-center'>
      <WeatherApp client:load />
    </main>

    <!--    <footer class='text-xs text-sky-600 mt-12'>
      Built with Astro, Vue & WeatherAPI.com
    </footer> -->
  </main>
</Layout>
