---
const { title = 'El tiempo' } = Astro.props;
import '@/styles/global.css';
// Supports weights 200-900
import '@fontsource-variable/nunito-sans';
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class='bg-gradient-to-br from-sky-100 to-sky-300 text-sky-900 min-h-screen p-4 font-sans'>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
